.CardCollectionDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
  text-align: center;
}
.CardImgDiv {
  font-size: xx-small;
  text-align: center;
  background-color: rgb(23, 26, 43);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 48%;
  border: 1px solid rgb(87, 86, 86);
  margin: 5px;

  
}
.CardImgDiv .imgdiv {
  height: 200px;
  width: 200px;
  background-image: url(../assets/spider-g866f06237_1920.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: .5px solid black;
  border-radius: 100%;
  background-color: black;
  color: white;
}
.CardImgDiv a{
    color: white;
}

.fathercollectiondiv{
  text-align: center;
}
.broken{
  text-align: center;
  width: 100%;
}
.broken a{
  color: rgb(187, 30, 187);
}