:root {
  --blue: rgb(25, 24, 36);
  --darkblue: rgb(20, 20, 26);
  --lightgreen: rgb(45, 189, 148);
  --lighterbluegray: rgb(146, 146, 194);
  --lightbluegray: rgb(53, 52, 68);
  --smallgreen: rgb(26, 245, 26);
  --mix: linear-gradient(red, blue);
  --maincolor: linear-gradient(#833ab4, #fd1d1d, #fcb045);
}
button {
  cursor: grab;
}
.more {
  display: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.logupbtDiv {
  display: flex;
  padding: 5px;
  width: 20%;
  justify-content: space-around;
}
.navlist2 {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.navlist2 a {
  color: white;
}
.loginbt {
  background-image: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  border: 0px;
  color: white;
}
.Signupbt {
  border: 3px solid hotpink;
  border-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  border-image-slice: 1;
  background-color: transparent;
  color: white;
}
.new {
  background: -webkit-linear-gradient(left, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainNav {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 450px) {
  .more {
    margin-left: 50px;
    position: absolute;
    display: flex;
    text-align: center;
  }
  nav {
    flex-direction: column;
    width: 40%;
    /* text-align: center; */
    /* margin: auto; */
  }
  .logupbtDiv {
    margin: auto;
    text-align: center;
    flex-direction: column;
  }
  .mainNav {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .navlist2 {
    top: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    justify-content: space-around;
    background-color: var(--lightbluegray);
    display: none;
  }
  .navlist2 a {
    margin: 10px;
  }
  .loginbt {
    margin-bottom: 5px;
  }
}
