:root {
  --main: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
}
.nftboxDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
  overflow-x: scroll;
  width: 60%;
  margin: auto;
}
.nftboxing {
  padding: 20px;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  border: 3px solid white;
}
.nftboxing .imgdiv{
    
  background-image: url(../assets/big-glass-data.jpg);
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.nftboxing button {
    margin: 20px 0 0 0;
    padding: 5px;
    border-radius: 0px;
  }
  .nftTag{
    text-align: center;
    width: 100%;
  }
  .fathersomenft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

