.new {
  background: -webkit-linear-gradient(
    left,
    rgb(102, 70, 255),
    rgb(174, 104, 220)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.gen {
  -webkit-text-stroke: 0.5px rgb(174, 104, 220);
  color: transparent;
  font-weight: bolder;
}
.newgenfooterdiv {
  width: 20%;
}
.sociallinkdiv {
  display: flex;
  justify-content: space-between;
}
.mainFooter {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  justify-content: space-around;
}
.footerUlDiv {
  display: flex;
}
.footerUlDiv ul {
  display: flex;
  flex-direction: column;
}
.footerUlDiv ul a {
  color: white;
}
@media only screen and (max-width: 450px) {
  .footerUlDiv {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .newgenfooterdiv {
    width: 100%;
    text-align: center;
  }
  .mainFooter {
    flex-direction: column;
  }
  .sociallinkdiv {
    padding: 15px;
  }
}
