.newgenfooterdiv{
    width: 20%;
}
.sociallinkdiv{
    display: flex;
    justify-content: space-between;
}
.mainFooter{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    justify-content: space-around;
}
.footerUlDiv{
    display: flex;
}
.footerUlDiv ul{
    display: flex;
    flex-direction: column;
}
.footerUlDiv ul a{
    color: white;
}
@media only screen and (max-width: 450px){
    .footerUlDiv{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .newgenfooterdiv{
        width: 100%;
        text-align: center;
    }
    .mainFooter{
        flex-direction: column;
    }
}