:root {
  --gradient: linear-gradient(rgb(102, 70, 255), rgb(174, 104, 220));
}
.marketplacediv {
  display: flex;
  justify-content: space-around;
}
.blockimg {
  border-radius: 100%;
  align-self: center;
  width: 40%;
}
.blockDiv {
  justify-content: center;
  display: flex;
  width: 40%;
}
.marketDiv {
  width: 40%;
}
.best {
  background: -webkit-linear-gradient(rgb(102, 70, 255), rgb(174, 104, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CreateNftsBt {
  margin-left: 3px;
  border: 1px solid;
  border-image: linear-gradient(90deg, rgb(102, 70, 255), rgb(174, 104, 220));
  border-image-slice: 1;
  background-color: transparent;
  color: white;
}
.GetStartedBt {
  background-image: var(--gradient);
  border: none;
  padding: 4px;
  color: white;
}
.getDiv {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.coinDiv {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 450px) {
  .marketplacediv {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .marketDiv {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .blockimg {
    display: none;
  }
  .blockDiv {
    display: none;
  }
  .getDiv {
    width: 100%;
    justify-content: center;
  }
  .getDiv button {
    margin: 5px;
  }
  .coinDiv {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}
