body {
  background: linear-gradient(90deg, #09010e, #2a0e3d);
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* background: rgb(44, 43, 43); */
  color: white;
  font-family: calibri;
}
